body {
    display: flex;
    align-items: center;
    background-image: linear-gradient(260deg, rgb(3, 3, 93)10% ,rgb(74, 2, 103));
    background-attachment: fixed;
}
#chat-window {
    position: absolute;
    inset: 0;
    margin: 5px auto;
    width: 80%;

    display: flex;
    flex-direction: column;
    align-items: center;
    /* border: 10px solid black; */
    color: white;
}
#chatbox {
    display: flex;
    align-items: center;
    flex-shrink: 0;
    max-height: 500px;
}
.chatbox-center {
    position: fixed;
    width: 60%;
    top: 40%;
}
.chatbox-below {
    width: 75%;
    bottom: 0;
}
#projectButton{
    margin: 20px;
    padding: 15px;
    width: 170px;
    background-color: rgb(19, 5, 79);
    border: 2px solid #ccc;
    border-radius: 20px;
    color: white;
    font-size: 16px;
    cursor: pointer;
    box-shadow: 3px 3px 10px rgba(0,0,0,0.4);
}
#dropdown {
    position: relative;
    display: inline-block;
}
.dropdown-content {
    display: none;
    position: absolute;
    bottom: 100%;
    background-color: rgb(9, 2, 41);
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.3);
    z-index: 1;
    border-radius: 15px;
}
.dropdown-content a, p {
    color: white;
    padding: 12px 16px;
    display: block;
    border-radius: 15px;
}
.dropdown-content p{
    background-color: rgb(69, 64, 87);
    margin-left: 10px;
    margin-right: 10px;
    padding: 10px;
}
.dropdown-content a:hover {background-color: black;}

#form {
    width: 80%;
    margin: 50px auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 40px;
    
    display: flex;
    align-items: flex-end;
    gap: 10px;;
    box-shadow: 3px 3px 10px rgba(0,0,0,0.4);
}
#input {
    flex: 1;
    max-height: 300px;
    box-sizing: border-box;
    padding: 10px;
    margin-right: 5px;
    border: hidden;
    border-radius: 15px;
    background-color: unset;
    color: inherit;
    font-size: 16px;
    resize: none;
}
#input:focus{
    outline: none;
}
#send-button {
    width: 100px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 15px;
    background-color: rgb(19, 5, 79);
    color: inherit;
    cursor: pointer;
}

#chat-messages {
    flex: 1;
    width: 85%;
    margin-top: 40px;
    padding-right: 8px;
    min-height: 0;
    overflow-y: auto;
    overflow-anchor:auto;
    display: flex;
    justify-content: center;
    flex-direction: column;
}
.message {
    position: relative;
    padding: 10px;
    margin: 30px;
    word-wrap: break-word;
    display: flex;
    flex-direction: column;
}
.user-message {
    align-self: flex-end;
    max-width: 50%;
    text-align: right;
    margin: 10px;
    padding: 10px;
    background-color: rgb(50, 19, 201);
    color: white;
    border-radius: 15px;
}
.bot-message {
    align-self: flex-start;
    max-width: 50%;
    text-align: left;
    margin: 10px;
    padding: 10px;
    /* background-color: rgb(10, 1, 54); */
    color: white;
    border-radius: 15px;
    font-size: larger;
}

::-webkit-scrollbar {
    width: 8px;
}

::-webkit-scrollbar-track {
    background: transparent;
}

::-webkit-scrollbar-thumb {
    background-color: black;
    border-radius: 10px;
    height: 10px;
}