SECRET_KEY=
ACCESS_TOKEN_EXPIRE_MINUTES=
Database_URL=
GITHUB_WEBHOOK_SECRET=
APP_ID=
GITHUB_CLIENT_ID=
GITHUB_CLIENT_SECRET=
GITHUB_REDIRECT_URL=
GITLAB_CLIENT_ID=
GITLAB_CLIENT_SECRET=
GITLAB_REDIRECT_URI=
FERNET_KEY=
SYNC_INTERVAL_MINUTES=2
MAX_RUNS_PER_SYNC=30