SECRET_KEY=
ACCESS_TOKEN_EXPIRE_MINUTES= 604800 #60*60*24*7 => 7days
Database_URL=
GEMINI_API_KEY = 
APP_ID=
GITHUB_CLIENT_ID=
GITHUB_CLIENT_SECRET=
GITHUB_REDIRECT_URL=
GITHUB_WEBHOOK_SECRET=
GROQ_API_KEY=
GITLAB_CLIENT_ID=
GITLAB_CLIENT_SECRET=
GITLAB_REDIRECT_URI=
GITLAB_PROJECT_ID=
FERNET_KEY=
SYNC_INTERVAL_MINUTES=
MAX_RUNS_PER_SYNC=
