.menu {
    position: relative;
    left: 0;
    padding: 10px;

    display: flex;
    flex-direction: column;

    background-color: rgb(9, 2, 41);
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.6);
    z-index: 10;
    color: white;
    font-size: 18px;
    
    transition: width 0.5s ease, padding 0.5s ease, transform 0.5s ease;
}
.expanded {
    width: 250px;
    justify-content: center;
    white-space: nowrap;
    overflow-x: hidden;
}
.collapsed {
    width: 50px;
    font-size: 20px;
    gap: 50px;
    align-items: center;
}
.collapsedBtn{margin-top: 20px;}
.collapsedBtn:hover {
    color: rgb(123, 92, 255);
    filter: drop-shadow(0px 0px 15px rgba(123, 92, 255, 0.6));
    transition: color 0.3s ease, filter 0.3s ease, transform 0.3s ease;
}

.appNameContainer {
    display: flex;
    align-items: center;

    margin: 10px 0;
    padding: 5px;

    font-size: 20px;
    font-family: "Orbitron", sans-serif;
    text-shadow: 0 0 20px rgba(123, 92, 255, 0.6);
    border-bottom: 1px solid rgba(255, 255, 255, 0.2);
}
.logo {
    background: radial-gradient(
        ellipse,
        rgb(18, 18, 61) 20%,
        rgba(15, 10, 70,0.1) 75%,
        transparent
    );
    
    width: 40px;
    height: 40px;
}
.appName {
    margin-left: 10px;
}
.closeBarBtn {
    margin-bottom: 30px;
    margin-left: auto;
}

.projectsStart {
    padding: 10px;
    margin: 0 15px;
    font-weight: 600;
    border-bottom: 1px solid rgba(255, 255, 255, 0.2);
}
.projectsContainer{
    display: flex;
    flex: 1;
    flex-direction: column;
    align-items: center;
    width: 100%;
    min-height: 0;
}
.searchContainer{
    display: flex;
    width: 100%;
}
.searchBar {
    position: sticky;
    top: 20px;
    padding: 5px;
    margin: 10px;
    width: 100%;
    background-color: rgb(170, 179, 247);
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
    color: black;
}
.deleteTextIcon{
    position: absolute;
    right: 0;
    margin-right: 10%;
    margin-top: 7%;
    color: black;
}
.projectsList {
    flex: 1;
    width: 100%;

    padding: 0 7px;
    margin: 0;
    list-style-type: none;
    
    overflow-x: hidden;
    overflow-y: auto;
    overflow-anchor:auto;
}
.project{
    color: white;
    padding: 7px 16px;
    border-radius: 15px;
    border: 1px solid transparent;
        
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;

    transition: background-color 0.25s ease, border 0.25s ease;
}
.project:hover {
    /* background-color: rgb(19, 5, 79); */
    background-color: rgba(255, 255, 255, 0.1);
    border: 1px solid rgba(181, 181, 181, 0.1);
}
.active{
    background-color: rgba(255, 255, 255, 0.1)
}

.menuNoProjects {
    background-color: rgb(42, 35, 67);
    padding: 10px 20px;
    margin: 10px;
    border-radius: 5px;
    font-family: "Inter", system-ui, sans-serif;
    font-size: 18px;
    opacity: 0.5;
    color: white;
}

.bottomContainer {
    padding: 10px;
}
.addButton {
    padding: 10px 20px;
    border: 1px solid #424077;
    border-radius: 15px;
    font-size: 16px;
    background-color: rgb(19, 5, 79);
    color: white;
}
.addButton:hover {background-color: rgb(23, 8, 92);}
