.formContainer{
    display:flex;
    align-items: center;
    flex-direction: column;
    
    background-color: rgb(53, 20, 123);
    border-radius: 10px;
    box-shadow: 5px 5px 15px rgba(0,0,0,0.4);
    
    padding: 10px;
    margin-top: 70px;
    color: white;
}

h1{
    font-size:60px;
    margin-bottom: 0px;
    font-family: Arial, Helvetica, sans-serif;
}

.form{
    display: flex;
    flex-direction: column;
    align-items: center;
    /* border: 2px solid black; */
    margin-top: 0;
    margin: 20px;
    color: white;
}

.submit {
    width: fit-content;
    padding: 10px;
    margin-top: 20px;
    border: 1px solid #ccc;
    border-radius: 15px;
    font-size: inherit;
    background-color: rgb(19, 5, 79);
    color: inherit;
}
.submit:hover {
    background-color: rgb(23, 8, 92);
}
.error{
    color: rgb(255, 99, 71);
    margin: 0;
    font-size: larger;
}

.link {
    padding: 5px;
    font-size: 25px;
    font-weight: 600;
    color: rgb(7, 7, 47);
    text-decoration: none;
}
.link:hover{
    color: rgb(23, 8, 92);
}