.section {
    display: flex;
    align-items: start;
    justify-content: center;
    flex-direction: column;
    gap: 10px;
}
.header {
    width: 100%;
    border-bottom: 3px solid rgb(9, 2, 41);
    padding: 15px;
    margin-bottom: 20px;
    font-size: 25px;
}
.label {
    display:flex;
    justify-content: end;
}
.input {
    padding: 8px;
    margin:0 10px;
    border: 2px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
}

.projectList {

}
.noProjects {
    background-color: rgb(95, 87, 124);
    padding: 10px 20px;
    margin: 10px;
    width: fit-content;
    border-radius: 10px;
    font-family: "Inter", system-ui, sans-serif;
    font-size: 18px;
    opacity: 0.5;
    color: white;
}