.formContainer{
    display:flex;
    align-items: center;
    flex-direction: column;
    
    background-color: rgb(53, 20, 123);
    border-radius: 10px;
    box-shadow: 5px 5px 15px rgba(0,0,0,0.4);
    
    padding: 10px;
    margin-top: 70px;
    color: white;
}

h1{
    font-size:60px;
    margin-bottom: 0px;
    font-family: Arial, Helvetica, sans-serif;
}

.form{
    display: flex;
    flex-direction: column;
    align-items: center;
    /* border: 2px solid black; */
    margin-top: 0;
    margin: 20px;
    color: white;
}
.field{
    display: flex;
    position: relative;
    padding: 20px;
    font-size: 20px;
    justify-content: center;
}
.field label {
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.input {
    padding: 8px;
    margin:0 10px;
    width: 350px;
    border: 2px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
}
.passwordContainer {
    flex: 1;
    position: relative;
    display: flex;
    align-items: center;
}
.toggle{
    position: absolute;
    right: 10px;
    top: 2px;
    /* transform: translateY(-50%); */
    /* z-index: 2; */

    padding: 10px;
    border: none;
    background: none;
    font-size: 16px;
}
.submit {
    width: fit-content;
    padding: 10px;
    margin-top: 20px;
    border: 1px solid #ccc;
    border-radius: 15px;
    font-size: inherit;
    background-color: rgb(19, 5, 79);
    color: inherit;
}
.submit:hover {
    background-color: rgb(23, 8, 92);
}
.error{
    color: rgb(255, 99, 71);
    margin: 0;
    font-size: larger;
}
.fieldError{
    color: rgb(255, 99, 71);
    position: absolute;
    margin: 0;
    padding: 0;
    bottom: 0;
    width:inherit;
    text-align: center;
    font-size: medium;
}
.link {
    padding: 5px;
    font-size: 25px;
    font-weight: 600;
    color: rgb(7, 7, 47);
    text-decoration: none;
}
.link:hover{
    color: rgb(23, 8, 92);
}