* {
    box-sizing: border-box;
}
html, body, #root {
    margin: 0;
    width: 100%;
    height: 100%;
}
body {
    display: flex;
    justify-content: center;
    
    /* background-image: linear-gradient(260deg, rgb(3, 3, 93)10% ,rgb(74, 2, 103)); */
    background-color: rgb(10, 4, 81);
    background-image:
        radial-gradient(
            circle 700px at 15% 20%,
            rgba(94, 72, 255, 0.12) 0%,
            rgba(94, 72, 255, 0.06) 35%,
            transparent 70%
        ),

        radial-gradient(
            circle 850px at 85% 30%,
            rgba(70, 200, 255, 0.10) 0%,
            rgba(70, 200, 255, 0.04) 40%,
            transparent 75%
        ),

        radial-gradient(
            circle 900px at 50% 95%,
            rgba(40, 55, 180, 0.14) 0%,
            rgba(40, 55, 180, 0.06) 35%,
            transparent 75%
        );
    background-attachment: fixed;

    font-family: system-ui, -apple-system, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
    font-size: 16px;
}
.gButton{
    border: none;
    padding: 1rem 2.5rem;
    border-radius: 14px;
    font-size: 1rem;
    font-weight: 700;
    color: white;
    cursor: pointer;
    background: linear-gradient(
        135deg,
        rgba(129, 90, 255, 0.54),
        rgb(12, 2, 103)
    );
    /* box-shadow: 0 0 25px rgba(128,90,255,.4); */
    box-shadow:
        0 0 20px rgba(101, 90, 255, 0.25),
        0 0 45px rgba(90, 93, 255, 0.25);
    transition:
        transform .3s ease,
        box-shadow .3s ease,
        filter .3s ease;
}
.gButton:hover {
    transform: translateY(-2px);
    filter: brightness(1.2);
    box-shadow:
        0 5px 25px rgba(101, 90, 255, 0.35),
        0 0 30px rgba(90, 93, 255, 0.25);
}

.gButton:active {
    transform: translateY(-1px) scale(.98);
}

.clickable {
    transition:filter 0.5s ease;
    cursor: pointer;
}
.clickable:hover {
    filter: brightness(1.2);
}

::-webkit-scrollbar {
    width: 7px;
    background-color: rgb(207, 207, 207, 0.1);
}

::-webkit-scrollbar-thumb {
    background-color: rgb(90, 83, 136);
    border: 1px solid rgb(90, 83, 136,0.7);
    /* background: linear-gradient(100deg, rgb(50, 19, 201), rgb(18, 5, 63)70%); */
    /* background: linear-gradient(270deg, rgb(0, 0, 0), rgb(18, 5, 63)70%); */
    /* height: auto; */
    border-radius: 15px;
}