body {
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0;
    height: 100%;
    background-image: linear-gradient(260deg, rgb(3, 3, 93)10% ,rgb(74, 2, 103));
    background-attachment: fixed;
}
#root {
    display: flex;
}
.clickable {
    transition:filter 0.5s ease;
    cursor: pointer;
}
.clickable:hover {
    filter: brightness(1.2);
}

::-webkit-scrollbar {
    width: 7px;
}

::-webkit-scrollbar-track {
    background: transparent;
}

::-webkit-scrollbar-thumb {
    /* background-color: rgb(124, 80, 200); */
    /* background-color: rgb(23, 8, 92); */
    background: linear-gradient(100deg, rgb(50, 19, 201), rgb(18, 5, 63)70%);
    height: auto;
}